# =========================
# PostgreSQL (Airflow DB)
# =========================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# =========================
# MinIO
# =========================
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PORT=
MINIO_CONSOLE_PORT=

# =========================
# ClickHouse
# =========================
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=
CLICKHOUSE_HTTP_PORT=
CLICKHOUSE_TCP_PORT=

# =========================
# Airflow
# =========================
AIRFLOW_EXECUTOR=LocalExecutor
AIRFLOW_SQL_ALCHEMY_CONN=
AIRFLOW_FERNET_KEY=3012001
AIRFLOW_DEFAULT_TIMEZONE=Africa/Cairo
AIRFLOW__CORE__DEFAULT_TIMEZONE=Africa/Cairo
AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE=Africa/Cairo
TZ=Africa/Cairo
AIRFLOW_LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=False


# =========================
# Airflow SMTP (Gmail)
# =========================
SMTP_HOST=
SMTP_PORT=
SMTP_STARTTLS=
SMTP_SSL=
SMTP_USER=
SMTP_PASSWORD=
SMTP_MAIL_FROM=

# =========================
# MLflow
# =========================
MLFLOW_PORT=
MLFLOW_TRACKING_URI=
