# Byte-compiled / Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db
*.log
*.wal

# Virtual environments
venv/
.venv/
env/

# Environment variables & Secrets (CRITICAL)
.env
*.env.local

# Docker & Volume mounts (local persistence)
postgres_airflow/
minio_storage/
clickhouse_data_warehouse/
metabase_data/

# Airflow logs & runtime artifacts
airflow/airflow_logs/
logs/

# dbt artifacts
dbt/target/
dbt/dbt_packages/
dbt/dbt_modules/
dbt/logs/
dbt/.user.yml

# DuckDB & Local query scratches
*.duckdb
duckdb_temp/

# ML Artifacts & Results
results/
models/*.pkl
models/encoders/*.pkl

# OS specific files
.DS_Store
Thumbs.db
powershell.exe
uv.lock